$breakpoint-xsmall: 480px;
$breakpoint-small: 576px;
$breakpoint-medium: 768px;
$breakpoint-large: 992px;
$breakpoint-extra: 1200px;

@mixin xsmall {
  @media screen and (max-width: $breakpoint-xsmall) {
    @content;
  }
}

@mixin small {
  @media screen and (max-width: $breakpoint-small) {
    @content;
  }
}

@mixin medium {
  @media screen and (max-width: $breakpoint-medium) {
    @content;
  }
}

@mixin large {
  @media screen and (max-width: $breakpoint-large) {
    @content;
  }
}

@mixin extra {
  @media screen and (max-width: $breakpoint-extra) {
    @content;
  }
}